# Cloudinary credentials
frontend/src/config/cloudinary.private.ts

# Node
node_modules/

# Build
dist/
/dist-ssr

# Env
.env
.env.*
*.env

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs
*.log

# Sensitive files
serviceAccount*.json
*.pem
*.key
*.crt
*.p12
*.pfx