services:
  - type: web
    name: cash-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: FIREBASE_API_KEY
        sync: false
      - key: SERVICE_ACCOUNT_JSON
        sync: false

