:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#app-root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

main {
  padding: 0;
  width: 100%;
  margin: 0;
}
